/* GLOBAL */


html {
  font-family: 'Nunito', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  max-width:100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

h1 {
  font-family: 'DM Serif Display', serif;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  font-weight: normal;
  background-color: #FBF7F5;
 
}
img {
  max-width: 100%;
 
}


/* NAV */
.zacsName h1{
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  margin:5%;
  font-style: italic;
  font-weight: normal;

}

/* HEAD */
.HeadContainer{
 
  height: 100vh;
}


.greeting{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.greeting img{
  margin-left: 30%
 
}

.greeting h2{
  text-align: center;
  font-size: 45px;
  color: #676767;
  line-height: 68px;
  font-style: normal;
font-weight: normal;
  
}

.underline{
    border-bottom: 8px solid #EE6454;
   
  }
  
  

 
.icons{
  text-align: center;
}
.icons img{
  margin:2%;
}


.whereIWorked p{
  color: #D3BBAB;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}
.workLogos{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly;
  
}


/* MAIN */

.mainContainer{
  background-color: #F0E5DC;
  display: flex;
  justify-content: space-around;
  
  

}

.mainContainer img{
  margin:3%;
}

.AboutMeSection{
  width: 100%;
  
}
/* looks good 1011 */
.AboutMeSection{
  justify-content: space-around;
  margin:2%;
  
}
.paragraphs h2{
  font-style: normal;
  font-size: 45px;
  color: #676767;
  letter-spacing:0.5px ;
  font-weight: normal;

}

.paragraphs h3{
  color: #676767;
  font-size: 22px;
  line-height: 32px;
  
  
}

.paragraphs p{
  color: #676767;
  font-size: 20px;
  line-height: 32px;
}

/* CTA-BLOG */

.BlogContainer{
  height: 100vh;
  
}

  


 
.ctaSection{

  margin-top:150px;
  display:flex;
  justify-content: flex-end;
}




.quote{
  background-color: #D3BBAB;
  max-width: 1150px;
  height: 444px;
  border-radius: 24px;
  margin-top: 119px;
  margin-left: 100px;
  text-align: center;
}




.quote .joel-img{
  margin-top: 25px;
}

.quote h5{
  
  font-size: 30px;
  color:#3B3B3B;
  margin-top: 20px;
}

.quote p{
  font-style: normal;
 font-weight: normal;
 font-size: 18px;
 color:#4E4E50;
 margin-bottom: 65px;
}


.orange-dot{
  color: #EE6454;
}

.BlogCards{
  max-width: 1365px;
  display: flex;
  justify-content: space-evenly;
  
}


.card{
  width:450px ;
  height: 256px;
  background-color:#FFE9E2;
  border-radius: 24px 24px 0px 0px;
  line-height: 27px;
  margin-top: 122px;
  
  
}


.card img{
  border-radius:0px 0px 24px 24px;
  width: 525px;
  height: 325px;

}


.card button{
  background-color: #FAFAFA;
  border-radius: 24px;
  color: #EE6454;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 182px;
height: 48px;
border: none;
margin-bottom: 45px;
margin-left: 45px;

}




.textContainer{
  padding:8px;
  text-align:left;
}



.textContainer h6{
  font-style: normal;
font-weight: normal;
font-size: 30px;
color: #3B3B3B;
margin:20px;
margin-left: 45px;
padding: 5px;
}




.textContainer p{
  font-style: normal;
font-weight: normal;
font-size: 16px;
color:#535353;
margin-left: 50px;
}

.BlogCards2{
  max-width: 1365px;
  display: flex;
  justify-content: space-evenly;
 
  
}




.card2{
  width:450px ;
  height: 256px;
  background-color:#FFE9E2;
  border-radius: 24px 24px 0px 0px;
 margin-top: 355px;
 line-height: 27px;
 text-align:left;
}

.card2 img{
  border-radius:0px 0px 24px 24px;
  width: 525px;
height: 325px;

}
.card2 button{
  background-color: #FAFAFA;
  border-radius: 24px;
  color: #EE6454;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 182px;
height: 48px;
border: none;
margin-bottom: 45px;
margin-left: 45px;

}
.textContainer2{
  padding:8px;
}

.textContainer2 h6{
  font-style: normal;
font-weight: normal;
font-size: 30px;
color: #3B3B3B;
margin:20px;
margin-left: 45px;


}

.textContainer2 p{
  font-style: normal;
font-weight: normal;
font-size: 16px;
color:#535353;
margin-left: 50px;

}



/* FOOTER */

.bottom{
  margin-top: 35%;
}

.madeby{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #D3BBAB;
}

