/* GLOBAL */


html {
  font-family: 'Nunito', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  max-width:1366px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

h1 {
  font-family: 'DM Serif Display', serif;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  font-weight: normal;
  background-color: #FBF7F5;
 
}
img {
  max-width: 100%;
 
}


/* NAV */
.zacsName h1{
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  margin:5%;
  font-style: italic;
  font-weight: normal;

}
@media only screen and (max-width: 500px) {
  .zacsName h1 {
     font-style: italic;
    font-weight: normal;
    font-size: 18px;
    margin:5%;
  }
}

/* HEAD */
.HeadContainer{
  max-width:1366px;
  height: 100vh;
}
@media only screen and (max-width: 500px) {
  .HeadContainer{
    width:500px;
    height: 100vh;
  }
}

.greeting{
  display: flex;
  flex-direction: column;
}
.greeting img{
  margin-left: 30%
}
@media only screen and (max-width: 500px) {
  .greeting img{
    width: 90% ;
    margin: 3px;
  }
}
.greeting h2{
  text-align: center;
  font-size: 45px;
  color: #676767;
  line-height: 68px;
  font-style: normal;
font-weight: normal;
  
}
@media only screen and (max-width: 500px){
  .greeting h2{
    font-size: 18px;
    line-height: 21px;
  }
}

.underline{
    border-bottom: 8px solid #EE6454;
   
  }
  @media only screen and (max-width: 500px){
    .underline{ 
      border-bottom: 3px solid #EE6454;
    }
  }
  

 
.icons{
  text-align: center;
}
.icons img{
  margin:2%;
}
@media only screen and (max-width: 500px){
  .icons img{
    width: 35px;
    margin:4%;
  }
}

.whereIWorked p{
  color: #D3BBAB;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
}
.workLogos{
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly;
  
}
@media only screen and (max-width: 500px){
  .workLogos img{
    width: 75px;
  }
}

/* MAIN */

.mainContainer{
  max-width:1366px;
  height: 100vh;
  background-color: #F0E5DC;

}
@media only screen and (max-width: 500px){
  .mainContainer{
    width: 500px;
    height: 200vh;
    

  }
}
.AboutMeSection{
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 500px){
  .AboutMeSection{
    display: flex;
    flex-direction: column;
  justify-content: space-around;
  }
}
@media only screen and (max-width: 500px){
  .AboutMeSection img{
   width: 60%;
   align-self: center;
   margin-top: 72px;
   margin-bottom: 72px;
  }
}
.AboutParagraphs h2{
  font-style: normal;
  font-size: 45px;
  color: #676767;
  letter-spacing:0.5px ;
  font-weight: normal;

}
@media only screen and (max-width: 500px){
  .AboutParagraphs{
    width: 450px;
  align-self: center;
  
  
  
  }
}
@media only screen and (max-width: 500px){
  .AboutParagraphs h2{
  font-size: 40px;
  
  
  }
}
.paragraphs h3{
  color: #676767;
  font-size: 22px;
  line-height: 32px;
  
  
}

.paragraphs p{
  color: #676767;
  font-size: 20px;
  line-height: 32px;
}
@media only screen and (max-width: 500px){
  .paragraphs p{
  font-size: 18px;
  
  
  }
}

/* CTA-BLOG */

.BlogContainer{
  max-width:1366px;
  height: 100vh;
  
}
@media only screen and (max-width: 500px){
  .BlogContainer{
    max-width:500px;
    height: 100vh;
    
}
}
  

@media only screen and (max-width: 500px){
  .ctaSection h4{
    font-weight: bold;
    font-size: 33px;
    line-height: 32px;
    color : white;
    
}
}
 
.ctaSection{

  margin-top:150px;
  margin-left: 161px;
}
@media screen and (min-width: 780px){
  .coffee{
    display: none;
  }
}

@media screen and (min-width: 780px){
  .mobile-cta{
    display: none;
  }
}
@media screen and (min-width: 780px){
  .mobile-btn{
    display: none;
  }
}


@media only screen and (max-width: 500px){
  .ctaSection .desktop-img{
    display: none;
    
}
}

@media only screen and (max-width: 500px){
  .ctaSection{
   background-color:  #EE6454;
   width: 500px;
   height: 325px;
   margin:0%;
   text-align: center;
    
}
}

@media only screen and (max-width: 500px){
  .coffee{
   margin-top: 30px;
    
}
}

@media only screen and (max-width: 500px){
  .mobile-btn{
    background-color: #FAFAFA;
    border-radius: 24px;
    color: #EE6454;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    width: 280px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    
    
}
}



.quote{
  background-color: #D3BBAB;
  max-width: 1150px;
  height: 444px;
  border-radius: 24px;
  margin-top: 119px;
  margin-left: 108px;
  text-align: center;
}

@media only screen and (max-width: 500px){
  .quote{
    
    width: 500px;
    height: 558px;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
   
  }
}


.quote .joel-img{
  margin-top: 25px;
}

.quote h5{
  
  font-size: 30px;
  color:#3B3B3B;
  margin-top: 20px;
}
@media only screen and (max-width: 500px){
  .quote h5{
    font-size: 18px;
    line-height: 32px;
    margin-left:5px;
    

  }
}
.quote p{
  font-style: normal;
 font-weight: normal;
 font-size: 18px;
 color:#4E4E50;
 margin-bottom: 65px;
}
@media only screen and (max-width: 500px){
  .quote p{
    font-size: 16px;
    margin-left:25px;
    
    

  }
}

.orange-dot{
  color: #EE6454;
}

.BlogCards{
  max-width: 1365px;
  display: flex;
  justify-content: space-evenly;
  
}
@media only screen and (max-width:500px){
  .BlogCards{
    width: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -75px;
    
    
    

  }
}

.card{
  width:450px ;
  height: 256px;
  background-color:#FFE9E2;
  border-radius: 24px 24px 0px 0px;
  line-height: 27px;
  margin-top: 122px;
  
  
}
@media only screen and (max-width: 500px){
  .card{
    
  width:280px ;
  height: 265px;
  background-color:#FFE7E7;
  border-radius: 24px 24px 0px 0px;
  line-height: 27px;
  margin-top: 220px;
    

  }
}

.card img{
  border-radius:0px 0px 24px 24px;
  width: 525px;
  height: 325px;

}

@media only screen and (max-width: 500px){
  .card img{
    border-radius:0px 0px 24px 24px;
    width: 280px;
    height: 194px;
    
    
    
    

  }
}
.card button{
  background-color: #FAFAFA;
  border-radius: 24px;
  color: #EE6454;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 182px;
height: 48px;
border: none;
margin-bottom: 45px;
margin-left: 45px;

}

@media only screen and (max-width: 500px){
  .card button{
   
  width: 182px;
 height: 48px;
  border: none;
margin-bottom: 25px;
margin-left: 45px;
    }
}


.textContainer{
  padding:8px;
  text-align:left;
}
@media only screen and (max-width: 500px){
  .textContainer{
    padding:4px;
  text-align:left;
    }
}


.textContainer h6{
  font-style: normal;
font-weight: normal;
font-size: 30px;
color: #3B3B3B;
margin:20px;
margin-left: 45px;
padding: 5px;
}

@media only screen and (max-width: 500px){
  .textContainer h6{
    font-size: 18px;
    }
}


.textContainer p{
  font-style: normal;
font-weight: normal;
font-size: 16px;
color:#535353;
margin-left: 50px;
}
@media only screen and (max-width: 500px){
  .textContainer p{
    font-size: 16px;
    }
}

.BlogCards2{
  max-width: 1365px;
  display: flex;
  justify-content: space-evenly;
 
  
}

@media only screen and (max-width:500px){
  .BlogCards2{
    display: none;
    }
}


.card2{
  width:450px ;
  height: 256px;
  background-color:#FFE9E2;
  border-radius: 24px 24px 0px 0px;
 margin-top: 355px;
 line-height: 27px;
 text-align:left;
}

.card2 img{
  border-radius:0px 0px 24px 24px;
  width: 525px;
height: 325px;

}
.card2 button{
  background-color: #FAFAFA;
  border-radius: 24px;
  color: #EE6454;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width: 182px;
height: 48px;
border: none;
margin-bottom: 45px;
margin-left: 45px;

}
.textContainer2{
  padding:8px;
}

.textContainer2 h6{
  font-style: normal;
font-weight: normal;
font-size: 30px;
color: #3B3B3B;
margin:20px;
margin-left: 45px;


}

.textContainer2 p{
  font-style: normal;
font-weight: normal;
font-size: 16px;
color:#535353;
margin-left: 50px;

}



/* FOOTER */

.bottom{
  margin-top: 35%;
}

.madeby{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #D3BBAB;
}

@media only screen and (max-width: 500px){
  .bottom{
    margin-top: 55%;
    }
}